<div class="container" ng-controller="homeController as HCtrl">

    <button onclick="getLocation()" type="button" id="gps" class="btn btn-primary">Get My Location TODO:GlyphIcon Me</button>

    <br />
    <br />

    <div class="container">
        <div id="map"></div>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            <h4 class="list-group-item-heading text-center">Housing</h4>
            <p class="list-group-item-text text-center">You can easily find a web hosting company that offers the right mix of features and price for your applications</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h4 class="list-group-item-heading text-center">Faith Based Organizations</h4>
            <p class="list-group-item-text text-center">Get access to your local faith orginzations including housing options and criteria for acceptance</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action active">
            <h4 class="list-group-item-heading text-center">Medical Services</h4>
            <p class="list-group-item-text text-center">Information regarding medical services that accept Medicare/MediCAL</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <h4 class="list-group-item-heading text-center">Emergency Servies</h4>
            <p class="list-group-item-text text-center">5150 Hold info, emergency room locations, Crisis stabalization units, mobile health clinics, 24/7 chat resources</p>
        </a>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        (function () {
            "use strict"

            angular.module("OCApp").controller('homeController', HomeController);


            function HomeController($scope, $http) {
                var vm = this;
                vm.$scope = $scope;
            }
        })();
    </script>

    <script>
        var x = document.getElementById("gps");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
        }


    </script>
}