<div class="container" ng-controller="homeController as HCtrl">
    <div class="container">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
    </div>
    <button>GPS Location</button>

    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <h2>Housing</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <h2>Faith Based Organizations</h2>
                <p>Get access to your local faith orginzations including housing options and criteria for acceptance</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <h2>Medical Services</h2>
                <p>Information regarding medical services that accept Medicare/MediCAL</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="text-center col-md-12">
                <h2>Emergency Servies</h2>
                <p>5150 Hold info, emergency room locations, Crisis stabalization units, mobile health clinics, 24/7 chat resources</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        (function () {
            "use strict"

            angular.module("OCApp").controller('homeController', HomeController);


            function HomeController($scope, $http) {
                var vm = this;
                vm.$scope = $scope;
            }
        })();

    </script>
}